/* 1rem -> 10px */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

/* header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
  background-color: #fff;
  color: #333;
  z-index: 999;
}

.header-wrap {
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
}

.header-wrap .header-wrap__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.header-wrap #logo {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.header-wrap #logo img {
  width: 11rem;
}

.header-wrap ul {
  display: flex;
  align-items: center;
}

.header-wrap li {
  padding: 0 8px;
}

.header-wrap li a {
  padding: 1.2rem 1rem;
  color: #4e5968;
  border-radius: 0.8rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
.header-wrap li a:hover {
  background-color: rgba(2, 32, 71, 0.05);
}

/* footer */

footer {
  position: relative;
  width: 100%;
  padding: 5rem 0 10rem;
}

.footer-wrap {
  max-width: 106.4rem;
  margin: 0 auto;
  padding: 0 6.7rem;
}

.footer-site {
  display: flex;
  padding-bottom: 5rem;
}

.footer-site ul {
  width: 17rem;
  font-size: 1.5rem;
}

.footer-site .flex1 {
  flex: 1;
}

.footer-site .footer-site__title {
  color: #333d4b;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.footer-site ul a {
  color: #6b7684;
  line-height: 3rem;
}

.footer-site ul a:hover {
  text-decoration: underline;
}

.footer-wrap address {
  padding-bottom: 5.4rem;
  color: #8b95a1;
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer-wrap address strong {
  display: block;
  color: #333d4b;
  padding-bottom: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-wrap .footer-social {
  display: flex;
  gap: 0 0.8rem;
  margin: 1.6rem 0;
}

.footer-wrap .footer-social li {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.footer-wrap .footer-social li:hover {
  opacity: 1;
}

.footer-wrap .footer-social img {
  width: 3.6rem;
  height: 3.6rem;
}

/* 공통 btn style */
.toss-btn {
  padding: 7px 12px;
  background-color: #3182f6;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toss-btn:hover {
  background-color: #1b64da;
}

.toss-btn > a {
  color: #fff !important;
}
